@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 218.2 26.8% 92%;
    --foreground: 217 5% 10%;
    --card: 217 50% 90%;
    --card-foreground: 217 5% 15%;
    --popover: 217 100% 95%;
    --popover-foreground: 217 100% 10%;
    --primary: 213 32% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 179 30% 85%;
    --muted-foreground: 217 5% 35%;
    --accent: 179 30% 80%;
    --accent-foreground: 217 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 217 5% 90%;
    --border: 217 30% 50%;
    --input: 217 30% 26%;
    --ring: 217 45% 27%;
    --radius: 0.3rem;
    --wuzzy: 354 42% 56%;
    --green: 92 28% 65%;
    --crayola: 40 71% 73%;
    --skyblue: 193 43% 67%;
    --pastelblue: 210, 34%, 63%;
    --pewterblue: 179 25% 65%;
    --orange: 14 51% 63%;
    --neutral: 220 16% 22%;
    --watermarker: 219 28% 88%;
  }
  .dark {
    --background: 217 50% 10%;
    --foreground: 217 5% 90%;
    --card: 217 50% 10%;
    --card-foreground: 217 5% 90%;
    --popover: 217 50% 5%;
    --popover-foreground: 217 5% 90%;
    --primary: 217 45% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 179 30% 25%;
    --muted-foreground: 217 5% 60%;
    --accent: 179 30% 25%;
    --accent-foreground: 217 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 217 5% 90%;
    --border: 217 30% 26%;
    --input: 217 30% 26%;
    --ring: 217 45% 27%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;

    /****remove button shadow on mobile***/
    -webkit-tap-highlight-color: transparent;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--secondary)) hsl(var(--primary));
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--primary));
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--secondary));
  border-radius: 14px;
  border: 3px solid hsl(var(--primary));
}

@layer components {
  h1 {
    @apply scroll-m-20 text-2xl lg:text-4xl;
  }

  h2 {
    @apply scroll-m-20 pb-2 text-3xl font-medium tracking-tight first:mt-0;
  }
}

/***************Memory game***************/
.flipped .inner {
  transform: rotateY(180deg);
}
.inner {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  transition: 0.8s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
}

.front,
.m-back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-perspective: 0;
  -webkit-transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

/**********End of Memory Game*****/
